@function calcResponsiveSize($value-min, $value-max, $container-min: $mobile_s, $container-max: $desktop-container, $units: px) {
  $value-min: cropUnits($value-min);
  $value-max: cropUnits($value-max);
  $container-min: cropUnits($container-min);
  $container-max: cropUnits($container-max);

  $a: ($value-min);
  $b: ($container-min);

  $a: $a + $units;
  $b: $b + $units;

  @return calc(#{$a} + (#{$value-max} - #{$value-min}) * (100vw - #{$b}) / (#{$container-max} - #{$container-min}));
}
