.main-nav {}

.main-nav__list {
  @include list-reset;
}

.main-nav__item {}

.main-nav__link {
  text-decoration: none;
  color: $color-text;
}

.main-nav__link:hover {
  color: $color-accent;
}

.main-nav__link.active {
  color: $color-accent;
}


@media (min-width: $desktop_xs) {
  .main-nav__list {
    display: flex;
    margin: 0 -10px;
  }

  .main-nav__item {
    margin: 0 10px;
  }
}
