.page-header {
  // position: sticky;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  padding: 13px 0;

  transition: 0.5s all ease;
}

.page-header.scrolled {
  padding: 8px 0;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.page-header__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.page-header__logo-box {
  font-size: 0;
}

.page-header__menu-btn {
  margin-left: auto;
}

@media (min-width: $desktop_xs) {
  .page-header__menu {
    margin-left: auto;
  }

  .page-header__menu-btn {
    display: none;
  }
}
