@mixin line-clamp ($lines: 1, $font-size: 1rem, $line-height: 1.2, $autoheight: false) {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: $font-size;
  line-height: $line-height;

  @if $autoheight == true {
    max-height: calc(#{$font-size} * #{$line-height} * #{$lines} - 1px);
  } @else {
    height: calc(#{$font-size} * #{$line-height} * #{$lines} - 1px);
  }
}
